@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Roboto", sans-serif;
    scroll-behavior: smooth;
}


/* START FONT FACE */

@font-face {
    font-family: 'CircleRounded-Regular';
    src: url('./assets/fonts/CircleRounded/CirceRounded-Regular.otf') format('truetype');
}

.circle-rounded-regular {
    font-family: "CircleRounded-Regular", sans-serif;
}

@font-face {
    font-family: 'CircleRounded-Bold';
    src: url('./assets/fonts/CircleRounded/CirceRounded-Bold.otf') format('truetype');
}

.circle-rounded-bold {
    font-family: "CircleRounded-Bold", sans-serif;
}

/* END FONT FACE */

.container {
    margin: 0 auto;
}

.container-100 {
    width: 1910px;
    margin: 0 auto;
}

select {
    border: none;
    padding: 0;
}


/* START SCROOLBAR */

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #FD9339;
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
    background: #F26233;
}

/* END SCROOLBAR */


/* START TAILWIND APPLY */

.splide__arrow {
    @apply text-gray-400 w-8 h-8 flex items-center justify-center rounded-full;
}

.splide__arrow svg {
    @apply text-white w-6 h-6;
}

/* END TAILWIND APPLY */